# Virtual Environment
venv/
venv/*
env/
env/*
ENV/
ENV/*

# DB files
*.db

# Configuration files
config.py
*.env
*.conf

# Python cache
__pycache__/
*.py[cod]
*$py.class
.Python

# Logs
*.log
logs/

# IDE
.idea/
.idea/*
*.swp
*.swo
